{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% static "slidebars.min.css" %}" rel="stylesheet" />
        <link href="{% static "icons.css" %}" rel="stylesheet" />
        <link href="{% static "menu.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "style.css" %}" rel="stylesheet" />
        <link href="{% static "themify-icons.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "bootstrap-select.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "bootstrap-multiselect.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "morris.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "dataTables.bootstrap4.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
        {% block css_files %}{% endblock %}
    </head>
    <body class="sticky-header" onload="getWeekNumber()">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- <script src="" async defer></script> -->
        <section>

        <!-- sidebar left start-->
        <div class="sidebar-left">
            <div class="sidebar-left-info">
                <!--sidebar nav start-->
                <ul class="side-navigation">
                    <li class="">
                        <h3 class="navigation-title">Navigation</h3>
                    </li>
                    <li class="">
                        <a href="{% url "index"%}"><span>Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="{% url "newtask" %}"><span>New Job</span></a>
                    </li>
                    <li class="">
                        <a href="{% url "jobhistory" %}"><span>Job History</span></a>
                    </li>
                    <li class="">
                        <a href="{% url "newstation" %}"><span>New Station</span></a>
                    </li>
                    <li class="">
                        <h3 class="navigation-title">Resources</h3>
                    </li>
                    <li class="">
                        <a href=""><span>Report Issues</span></a>
                    </li>
                    <li class="">
                        <a href="newtask"><span>User Guide</span></a>
                    </li>
                    <li class="">
                        <a href=""><span>Eowyn Dashboard</span></a>
                    </li>
                </ul><!--sidebar nav end-->
            </div>
        </div>
        <!-- sidebar left end-->
        <!-- body content start-->
        <div class="body-content">

            <!-- header section start-->
            <div class="header-section">
                <!--logo start-->
                <div class="logo">
                    <a href="index.html">
                        <span class="logo-img">
                            <!-- Logo Image here -->
                        </span>
                        <!--<i class="fa fa-maxcdn"></i>-->
                        <span class="brand-name">Project</span>
                    </a>
                </div>    
                <a class="toggle-btn"><i class="ti ti-menu"></i></a>
                
                <div class="notification-wrap">
                    <ul  class="notification-menu" style="margin-top:1.4%">
                        <li>Welcome back! {{request.user.username}}</li>
                        <li style="margin-left:15%">Calendar : WW <span id="wkNumber"></span>  | {% now "M d Y" %}</li>
                        <li style="margin-left:5%">{% now "f A T" %}</li>
                    </ul>
                    <!--right notification start-->
                    <div class="right-notification">
                        <ul class="notification-menu">
                            <li class="">
                                <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{% static "avatar-1.jpg" %}" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-menu" x-placement="bottom-end" style="position: absolute; transform: translate3d(-107px, 29px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="ti ti-bag m-r-5 text-muted"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div><!--right notification end-->
                </div>

            </div>
            <!-- header section end-->
            
            <div class="container-fluid">   
                <div id="loading" style="display:none">
                    <img id="loading-image" src="{% static "1495.gif" %}" />
                </div>                              
                {% block content %}
                {% endblock %}
            </div><!--end container-->
           
            <!--footer section start-->
            <footer class="footer">
               
            </footer>
            <!--footer section end-->

            <!-- Right Slidebar start -->
            <div class="sb-slidebar sb-right sb-style-overlay">
                
            </div>
            <!--end Right Slidebar-->
        </div>
        <!--end body content-->
    </section>
    <script type="text/javascript" src="{% static "raphael-min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-3.6.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-migrate.js" %}"></script>
    <script type="text/javascript" src="{% static "modernizr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.slimscroll.min.js" %}"></script>
    <script type="text/javascript" src="{% static "slidebars.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-select.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-multiselect.min.js" %}"></script>
    
    
    <script type="text/javascript" src="{% static "morris.min.js" %}"></script>

    <script type="text/javascript" src="{% static "jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dataTables.bootstrap4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datepicker.en-GB.min.js" %}"></script>
    <!-- app.js -->
    <script type="text/javascript" src="{% static "jquery.app.js" %}"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script type="text/javascript">
        function getWeekNumber()
        {
            currentDate = new Date();
            startDate = new Date(currentDate.getFullYear(), 0, 1);
            var days = Math.floor((currentDate - startDate) /
                (24 * 60 * 60 * 1000));
                
            var weekNumber = Math.ceil(days / 7);
        
            // Display the calculated result      
            $('#wkNumber').html(weekNumber);
        }
    </script>
    {% block extrajs %}
    {% endblock %}
    </body>
</html>