
      
                <table id="tblIterations">
                    <tbody>
                            <select class="form-control sm-2 w-75" style="font-size:14px;" name="iteration" id="iteration" onchange=showIterationDetail(this)>
                                    <option value=""></option>
                                    {% for iteration in iterationsData %}
                                        {% if iteration.GUID == GUID %}
                                            <option value="{{iteration.Iteration}}^{{iteration.TaskID}}">{{ iteration.Iteration }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                    </tbody>
                 </table>
           
