{% extends "master.html" %}
{% load static %}
{% block content %}

    <div class="page-head">
        <h4 class="mt-2 mb-2">Dashboard</h4>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body" >
                    <h5 class="header-title pb-3">All Jobs</h5>           
                    <div id="morris-donut-chart" style="height:400px"></div>              
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body" >
                    <h5 class="header-title pb-3">Jobs by Year</h5>           
                    <div id="extra-area-chart" style="height:400px"></div>              
                </div>
            </div>
        </div>
        
    </div>
 
{% endblock %}
{% block extrajs %}
    <script src="{% static "morris-init.js" %}" type="text/javascript"></script>
{% endblock %}