{% extends 'master.html' %}
{% load static%}
{% load tz %}



{% block content %}
<div class="page-head">
    <h4 class="mt-2 mb-2">Job History</h4>
</div>
<div class="basic-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <a href="#" onclick="refreshJobList()">Refresh</a>
                    <table id="tblTasks" class="table-responsive hover table table-striped table-bordered">
                        <thead>
                            <tr>
                                {% for col in colNames %}
                                    {% if col.name == "Station" or col.name == "RegressionName" or col.name == "Tool" or col.name == "TotalIterations" or col.name == "Platform" or col.name == "CreatedDate" or col.name == "Status" or col.name == "ModifiedDate" or col.name == "ErrorMessage" %}
                                        <th>{{ col.name }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th>Iterations</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.Station }}</td>
                                    <td><a href='#' onclick=showDetail({{task.id}})>{{ task.RegressionName }}</a></td>
                                    <td>{{ task.Tool }}</td>
                                    <td>{{ task.CurrentIteration }} / {{ task.TotalIterations }}</td>
                                    <td>{{ task.Platform }}</td>
                                    <td>{{ task.CreatedDate|localtime }}</td>
                                    <td>{{ task.Status }}</td>
                                    <td>{{ task.ModifiedDate|default_if_none:"" }}</td>
                                    <td>{{ task.ErrorMesage }}</td>
                                    <td>{% include './_iterationslist.html' with iterationsData=iterations taskID=task.id GUID=task.GUID %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="jobJson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">JSON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="jsonData"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade bd-example-modal-lg" id="iterationJson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">JSON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="iterationjsonData"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 

{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    setInterval(refreshJobList, 1000 * 60);
</script>
{% endblock %}



