{% extends "master.html" %}
{% load static %}
from TaskForm import TaskForm
{%block title %} New Job {%endblock%}
{% block content %}

<div class="page-head">
    <h4 class="mt-2 mb-2">New Job</h4>
</div>
<div class="basic-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="general-label">
                        <form  id="taskForm" class="form" role="form" action="{% url "newtask" %}" method="POST">
                            {% csrf_token %}
                                <div class="form-group row mx-auto" style="width:300px">
                                    <span style="color:red">{{message}}</span>
                                </div>
                                <div id="id_Stations" class="form-group row">
                                    <div class="col-2">
                                    <label id="id_Stations">Station:<span style="color:red">*</span></label></div>
                                    <textarea id="ToolJson" name="ToolJson" rows="25" cols="100" style="display:none"></textarea>
                                    <div class="col-10">
                                        <select name="Stations" class="form-control" id="ddlStation">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3"></div>
                                <div class="card">
                                    <div class="card-header mx-0 my-0 px-0 py-0 d-flex" onclick="toggleRegression(this)">
                                        <div class="mr-auto p-2">Regression Configuration</div><div class="p-2"><i id="icoReg" style="cursor:pointer"></i></div>
                                    </div>
                                    <div class="card-body regression">
                                        <div id="id_RegressionName" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_RegressionName">Regression Name:<span style="color:red">*</span></label></div>
                                            <div class="col-4">
                                                <input type="text" name="RegressionName" class="form-control" autocomplete="off" placeholder="Please enter regression name" maxlength="100" id="id_RegressionName">
                                            </select>
                                            </div>
                                            <div class="col-2 text-right">
                                                <label id="id_Platform">Platform:</label></div>
                                                <div class="col-4 text-left">
                                                    {% comment %} <select name="Platform" id="ddlPlatform" class="form-control">
                                                    </select> {% endcomment %}
                                                    <span id="spnPlatform"></span>
                                                </div>
                                        </div>
                                        <div id="id_TotalIterations" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_TotalIterations">Total Iterations:<span style="color:red">*</span></label></div>
                                            <div class="col-4">
                                                <input type="number" name="TotalIterations" min="0" class="form-control" autocomplete="off" placeholder="Please enter Iterations" id="id_TotalIterations" />
                                            </div>
                                        </div>
                                        <div id="id_ToolName" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_ToolName">Tool Name:<span style="color:red">*</span></label></div>
                                            <div class="col-2">
                                                <select name="ToolName" id="ddlToolName" class="form-control">
                                                    <option value="">--Select Tool--</option>
                                                </select>
                                            </div>
                                            <div class="col-1" id="lnkPlaceHolder" style="white-space: nowrap;">
                                                
                                            </div>
                                            <div class="col-2 text-right">
                                                <label id="id_IsUploadResult">Upload Result:</label></div>
                                                <div class="col-2 px-0">
                                                    <input type="checkbox" id="chkUploadResult" class="form-control" name="IsUploadResult"></input>
                                                </div>
                                                <div class="col-2 text-right">
                                                    <label id="id_DebugMode">Debug Mode:</label></div>
                                                    <div class="col-1 px-0">
                                                        <input type="checkbox" id="id_DebugMode" class="form-control" name="DebugMode"></input>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3"></div>
                                <div class="card">
                                    <div class="card-header mx-0 my-0 px-0 py-0 d-flex" onclick="toggleAlgorithm(this)">
                                        <div class="mr-auto p-2">Algorithm Configuration</div><div class="p-2"><i id="icoAlgo" style="cursor:pointer"></i></div>
                                    </div>
                                    <div class="card-body algorithm">
                                        <div id="id_IsEmon" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_IsEmon">Emon Tool:</label></div>
                                            <div class="col-2">
                                                <input type="checkbox" id="chkEmon" class="form-control" name="IsEmon"></input>
                                            </div>
                                            <div class="col-8">
                                                <i>Please do not select "Select All" option, by default system will consider all events and counters if none is selected </i>
                                            </div>
                                        </div>
                                        <div id="id_EmonEvents" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_EmonEvents">Emon Events:</label></div>
                                            <div class="col-8">
                                                <select name="EmonEvents" id="ddlEmonEvents" multiple="" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <div id="id_EmonCounters" class="form-group row">
                                            <div class="col-2">
                                                <label id="id_EmonCounters">Emon Counter:</label></div>
                                                <div class="col-8">
                                                    <select name="EmonCounters" id="ddlEmonCounters" multiple="" class="form-control">
                                                    </select>
                                                </div>
                                        </div>

                                        <div id="id_Idea" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_Idea">Idea:</label></div>
                                            <div class="col-10">
                                                <select name="Idea" id="ddlIdea" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                                
                                    </div>
                                </div>
                                <div class="row mb-3"></div>
                                <div class="card">
                                    <div class="card-header mx-0 my-0 px-0 py-0 d-flex" onclick="toggleAdvance(this)">
                                        <div class="mr-auto p-2">Advanced Machine Learning Settings</div><div class="p-2"><i id="icoAdvance" style="cursor:pointer"></i></div>
                                    </div>
                                    <div class="card-body advanced">
                                        <div id="id_Splitter" class="form-group row">
                                            <div class="col-2">
                                                <label id="id_Splitter">Splitter:</label>
                                            </div>
                                            <div class="col-4">
                                                <select name="Splitter" id="id_Splitter" class="form-control">
                                                    <option value="">--Select Splitter--</option>
                                                    <option value="Random">Random</option>
                                                    <option value="Best">Best</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="id_MinImpurityDecrease" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_MinImpurityDecrease">Min Impurity Decrease:</label></div>
                                            <div class="col-8">
                                                <input type="number" name="MinImpurityDecrease" min="0" class="form-control" autocomplete="off" step="0.1" placeholder="Please enter min impurity decrease" id="id_MinImpurityDecrease" />
                                            </div>
                                        </div>
                                        <div id="id_MaxFeatures" class="form-group row">
                                            <div class="col-2">
                                            <label id="id_MaxFeatures">Max Features:</label></div>
                                            <div class="col-8">
                                                <input type="number" name="MaxFeatures" min="0" class="form-control" autocomplete="off" step="0.1" placeholder="Please enter max features" id="id_MaxFeatures" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3"></div>
                            <button type="submit" id="btnSubmit" onclick="return validateForm()" style="display:none" class="btn btn-primary">Submit</button>
                            <button type="button" id="btnClear" class="btn btn-primary" onclick="clearForm()">Clear</button>
                            <button type="button" id="btnJson" class="btn btn-primary" onclick="showJson()">JSON</button>
                        </form>                                    
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div>


    <div class="modal fade bd-example-modal-lg" id="jobJson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <form  id="jsonForm" class="form" role="form" action="{% url "SendJson" %}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">JSON</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <textarea id="jsonData" name="JsonData" rows="25" cols="100"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
        </div>
    </div> 

    <div class="modal fade bd-example-modal-lg" id="toolJson" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">JSON</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <textarea id="toolData" name="ToolData" rows="25" cols="100"></textarea>
                    <span id="validJsonNotify"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="validateJSON()">Validate JSON</button>
                    <button type="button" class="btn btn-primary" onclick="saveToolJson()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
       
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static "newjob.js" %}" type="text/javascript"></script>
{% endblock %}
