{% extends "master.html" %}
from TaskForm import TaskForm
{% block content %}

<div class="page-head">
    <h4 class="mt-2 mb-2">New Job</h4>
</div>
<div class="basic-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="general-label">
                        <form role="form" action="{% url "newtask" %}" method="POST">
                            {% csrf_token %}
                            {% for field in taskForm %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}:</label>
                                 {{ field }}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
{% endblock %}
